.App {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #171C28;
}

a {
  text-decoration: none;
}

.Home {
  display: grid;
  grid-template-columns: 27% 73%;
}

::-webkit-scrollbar {
  background-color: #171C28;
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: #323C52;
  border-radius: 10px;
}